body {
    padding-top: 5rem;
    background-color: #f3f4f6;
}

.first{
    display: grid;
    grid-template-columns: 100px 100px;
    row-gap: 8px;
}

.btn1{
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: rgb(98, 98, 243);
    color: white;
}

.form-label{
    width: 1000px;
    height: 45px;
}

.form-des{
    width: 1000px;
    height: 100px;
}

form{
    margin: 2em;
}

.form{
    background-color: white;
    border-radius: 10px;
}

.rooms{
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.form-rooms{
    width: 400px;
    height: 45px;
}

.form-baths{
    width: 400px;
    height: 45px;
}

.price{
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.form-price{
    width: 400px;
    height: 45px;
}

.form-type{
    width: 400px;
    height: 45px;
}

.form-location{
    width: 400px;
    height: 45px;
}

.form-photo{
    height: 45px;
}

li{
    list-style: none;
}

.image{
    width: 400px;
    height: 250px;
}

.contain{
    background-color: white;
    width: 400px;
    height: 420px;
}

.name{
    /* margin: 15px; */
    padding: 15px;
}

.add{
    color: rgb(190, 189, 189);
}

.price1{
    background-color: rgb(69, 152, 224);
    width: 120px;
    height: 35px;
    color: white;
    border-radius: 20px;
    padding: 6.5px;
}

.set{
    text-align: center;
}

.type{
    background-color: rgb(219, 200, 54);
    width: 120px;
    height: 35px;
    color: white;
    border-radius: 20px;
    padding: 6.5px;
}

.contain-btn{
    background-color: rgb(69, 152, 224);
    width: 400px;
    height: 50px;
    text-align: center;
}

.btn{
    color: white;
    font-size: 20px;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
}

.id-image{
    width: 500px;
    height: 420px;
}

.info-contain{
    width: 550px;
    height: 420px;
    background-color: white;
    padding: 2em;
}

.align{
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 1;
}

.side-by-side{
    display: grid;
    grid-template-columns: 140px 140px;
}

.id-contain{
    width: 500px;
}

.side-room{
    display: grid;
    grid-template-columns: 100px 100px;
}

.real{
    background-color: rgb(69, 152, 224);
    width: 130px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
}